@font-face {
  font-family: 'MinhaFonte';
  src: url('caminho/para/'fonte.woff2) format('woff2'),
       url('caminho/para/fonte.ttf') format('truetype');
 }
 body {
  font-family: 'MinhaFonte', sans-serif;
 }
a:visited,a:hover,a:active {
    background-color: rgb(13, 96, 14);
  }
  
nav{
    font-size: 0;
    background-color: rgb(38, 188, 40);
    padding: 17px;
  }
a{
    font-size: 23px;
    background-color: rgb(38, 188, 40);
    color: aliceblue;
    padding: 17px;
    text-decoration-line: none;
    margin-right: 0px;
    margin-left: 0px;

  }
  header{
    align-items: center;
    text-align: center;
    background-color: rgb(54, 245, 57);

  }
  #logo{
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-align: center;


  }
  main{
 padding: 20px; 
}
#yoshi{
  margin-left: 10px;
}
  body{margin: 0;color:white}