a:visited,a:hover,a:active {
    background-color: rgb(43, 192, 45);

  }
header{
    font-size: 0;
    background-color:rgb(34, 158, 36);
    display: flex;
    text-align: center;
    align-items: center;
  }
header a{
    font-size: 1rem;
    background-color:rgb(34, 158, 36);
    color: aliceblue;
    padding: 2.4rem;
    font-style: italic;
    text-decoration-line: none;
    margin-right: 0px;
    margin-left: 0px;
  }

  #logo{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
  }

#yoshi, #ovo{
  margin-left: 10px;
  margin-right: 10px;
}

#sla{
  margin-left: 5%;


  text-align: center;
  align-items: center;

  display: flex;
  

}
#textos{

  align-items: center;

  
}
body{margin: 0;color:rgb(255, 255, 255);
background-color: rgb(40, 146, 45);}
main{
  display: flex;
  
}
section{
  padding: 30px;
  width: 88%;
  background-color: rgb(27, 139, 29);
}
aside{
  padding: 30px;
  background-color: rgb(24, 89, 27);
  width: 11%;
}
#apresentacao{
  display: flex;
}
img{
  margin-top: 1.5rem;
}
aside a{
  width: 100%;
}

