a:visited,a:hover,a:active {
    background-color: rgb(50, 218, 52);

  }
  
nav{
    font-size: 0;
    background-color: rgb(38, 188, 40);
    display: flex;
    text-align: center;
    align-items: center;
  }
a{
    font-size: 1rem;
    background-color:rgb(38, 188, 40);
    color: aliceblue;
    padding: 1.3rem;
    font-style: italic;
    text-decoration-line: none;

    margin-right: 0px;
    margin-left: 0px;

  }
  header{
    align-items: center;
    text-align: center;
    background-color: #32da34;

  }
  #logo{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;



  }

#yoshi, #ovo{
  margin-left: 10px;
  margin-right: 10px;
}

#sla{

  text-align: center;
  align-items: center;

  display: flex;
  

}
#textos{

  align-items: center;

  
}
body{margin: 0;color:rgb(255, 255, 255);
background-color: rgb(40, 146, 45);}
